<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.dao.SongMenuTagDao">

	<resultMap type="cn.xiedacon.model.SongMenuFirstTag" id="songMenuTagVoResultMap">
		<id column="tag_id" property="id" />
		<result column="tag_name" property="name" />

		<collection property="secondTagList" javaType="java.util.List"
			ofType="cn.xiedacon.model.SongMenuSecondTag">
			<result column="secondTag_id" property="id" />
			<result column="secondTag_name" property="name" />
		</collection>
	</resultMap>

	<select id="selectList" resultMap="songMenuTagVoResultMap">
		SELECT
		tf.id tag_id,
		tf.name
		tag_name,
		ts.id secondTag_id,
		ts.name secondTag_name
		FROM
		tag_songmenu_first tf
		RIGHT JOIN tag_songmenu_second ts ON tf.id =
		ts.fid
		ORDER BY tf.id ASC,ts.id ASC
	</select>

	<select id="selectSecondTagById" resultType="cn.xiedacon.model.SongMenuSecondTag">
		SELECT
		ts.id id,
		ts.name name
		FROM
		tag_songmenu_second ts
		WHERE ts.id = #{id}
	</select>

	<delete id="deleteGLBySongMenuId" parameterType="java.lang.String">
		DELETE FROM
		smi_gl_rsms WHERE songMenuId =
		#{songMenuId}
	</delete>

	<insert id="insertGL">
		INSERT INTO smi_gl_rsms
		VALUES
		(#{id},#{songMenuId},#{tagId})
	</insert>
</mapper>