<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.dao.SongMenuSecondTagDao">

	<sql id="selectSql">
		SELECT
		t.id id,
		t.name name
	</sql>

	<select id="selectSongMenuSecondTagListByIds" parameterType="java.lang.reflect.Array"
		resultType="cn.xiedacon.vo.SongMenuSecondTagVo">
		<include refid="selectSql"></include>
		FROM tag_songmenu_second t
		WHERE t.id in
		<foreach collection="songMenuSecondTagIds" open="(" separator="," close=")"
			item="item">
			#{item}
		</foreach>
	</select>

	<select id="selectAll" resultType="cn.xiedacon.vo.SongMenuSecondTagVo">
		SELECT
		t.id id,
		t.name name,
		f.id fid,
		f.name fname
		FROM tag_songmenu_second t
		LEFT JOIN tag_songmenu_first f ON t.fid = f.id
		ORDER BY f.id ASC,t.id ASC
	</select>
</mapper>