<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.SingerReadDao">

	<select id="selectListByClassifyIdOrderByCollectionNumLimit"
		resultType="cn.xiedacon.model.Singer">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.userId userId
		FROM singer s
		WHERE s.classifyId = #{classifyId} AND s.visible = true
		ORDER BY s.collectionNum DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectListOrderByCollectionNumLimit" resultType="cn.xiedacon.model.Singer">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.userId userId
		FROM singer s
		WHERE s.visible = true
		ORDER BY s.collectionNum DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectListLimit" resultType="cn.xiedacon.model.Singer">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.userId userId
		FROM singer s
		WHERE s.visible = true
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectById" resultType="cn.xiedacon.model.Singer">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.remark remark,
		s.userId userId
		FROM singer s
		WHERE s.id = #{id} AND s.visible = true
	</select>

	<select id="selectIntroductionById" resultType="java.lang.String">
		SELECT s.introduction
		FROM singer s
		WHERE s.id = #{id} AND s.visible = true
	</select>
</mapper>