<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.SongMenuReadDao">

	<resultMap type="cn.xiedacon.model.SongMenu" id="songMenuVo">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="icon" column="icon" />
		<result property="creatorId" column="creatorId" />
		<result property="creatorName" column="creatorName" />
		<result property="creatorIcon" column="creatorIcon" />
		<result property="userId" column="userId" />
		<result property="createTime" column="createTime" />
		<result property="introduction" column="introduction" />
		<result property="songNum" column="songNum" />
		<result property="collectionNum" column="collectionNum" />
		<result property="shareNum" column="shareNum" />
		<result property="commentNum" column="commentNum" />
		<result property="playNum" column="playNum" />

		<collection property="songMenuSecondTagList" javaType="java.util.List"
			ofType="cn.xiedacon.model.SongMenuSecondTag" resultMap="songMenuSecondTagVo"></collection>
	</resultMap>

	<resultMap type="cn.xiedacon.model.SongMenuSecondTag" id="songMenuSecondTagVo">
		<id property="id" column="secondTagId" />
		<result property="name" column="secondTagName" />
	</resultMap>

	<select id="selectById" resultMap="songMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.createTime createTime,
		s.introduction introduction,
		s.songnum songNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon,
		r.shareNum shareNum,
		r.commentNum commentNum,
		r.playNum playNum,
		r.collectionNum collectionNum,
		tss.id secondTagId,
		s.userId userId,
		tss.name secondTagName
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		LEFT JOIN smi_gl_rsms sgr ON s.id = sgr.songMenuId
		INNER JOIN user_base u ON s.creatorId = u.id
		LEFT JOIN tag_songmenu_second tss ON sgr.tag_songMenu_secondId = tss.id
		WHERE s.id = #{id} AND s.visible = true
	</select>

	<select id="selectListOrderByCreateTimeLimit" resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		WHERE s.userId is null AND s.visible = true
		ORDER BY s.createTime DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectListOrderByCollectionNumLimit" resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		WHERE s.userId is null AND s.visible = true
		ORDER BY r.collectionNum DESC, s.createTime DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectCount" resultType="int">
		SELECT COUNT(s.id)
		FROM songMenu_base s
		WHERE s.userId is null AND s.visible = true
	</select>

	<select id="selectListBySecondTagIdOrderByCollectionNumLimit"
		resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		LEFT JOIN smi_gl_rsms sgr ON s.id = sgr.songMenuId
		WHERE sgr.tag_songMenu_secondId = #{secondTagId} AND s.userId is null AND s.visible = true
		ORDER BY r.collectionNum DESC, s.createTime DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectListBySecondTagIdOrderByCreateTimeLimit" resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		LEFT JOIN smi_gl_rsms sgr ON s.id = sgr.songMenuId
		WHERE sgr.tag_songMenu_secondId = #{secondTagId} AND s.userId is null AND s.visible = true
		ORDER BY s.createTime DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectCountBySecondTagId" resultType="int">
		SELECT COUNT(s.id)
		FROM songMenu_base s
		LEFT JOIN smi_gl_rsms sgr ON s.id = sgr.songMenuId
		WHERE sgr.tag_songMenu_secondId = #{secondTagId} AND s.userId is null AND s.visible = true
	</select>

	<select id="selectListByCreatorId" resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		WHERE s.creatorId = #{creatorId} AND s.visible = true
		ORDER BY s.userId DESC
	</select>

	<select id="selectListByCollectorId" resultType="cn.xiedacon.vo.SimpleSongMenuVo">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		r.playNum playNum,
		s.creatorId creatorId,
		s.creatorName creatorName,
		s.userId userId,
		s.songNum songNum
		FROM songMenu_base s
		INNER JOIN songMenu_record r ON s.id = r.id
		LEFT JOIN user_gl_songmenu ugs ON ugs.songMenuId = s.id
		WHERE ugs.collectorId = #{collectorId} AND s.visible = true
	</select>
</mapper>