<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.UserReadDao">

	<select id="selectByPhone" resultType="cn.xiedacon.model.User">
		SELECT
		u.id id,
		u.name name,
		u.icon icon,
		ur.password password,
		u.introduction introduction,
		u.sex sex,
		u.dynamicNum dynamicNum,
		u.attentionNum attentionNum,
		u.fansNum fansNum,
		u.level level,
		u.birthday birthday,
		u.age age,
		u.area area,
		u.createSongMenuNum createSongMenuNum,
		u.collectSongMenuNum
		collectSongMenuNum,
		u.singerId singerId,
		u.lastSignDate lastSignDate
		FROM user_base u
		INNER JOIN user_relation ur ON u.id = ur.id
		WHERE ur.phone = #{phone} AND u.visible = true
	</select>

	<select id="selectById" resultType="cn.xiedacon.model.User">
		SELECT
		u.id id,
		u.name name,
		u.icon icon,
		ur.password password,
		u.introduction introduction,
		u.sex sex,
		u.dynamicNum dynamicNum,
		u.attentionNum attentionNum,
		u.fansNum fansNum,
		u.level level,
		u.birthday birthday,
		u.age age,
		u.area area,
		u.createSongMenuNum createSongMenuNum,
		u.collectSongMenuNum
		collectSongMenuNum,
		u.singerId singerId,
		u.lastSignDate lastSignDate
		FROM user_base u
		INNER JOIN user_relation ur ON u.id = ur.id
		WHERE u.id = #{id} AND u.visible = true
	</select>

	<select id="selectByGitHubId" resultType="cn.xiedacon.model.User">
		SELECT
		u.id id,
		u.name name,
		u.icon icon,
		ur.password password,
		u.introduction introduction,
		u.sex sex,
		u.dynamicNum dynamicNum,
		u.attentionNum attentionNum,
		u.fansNum fansNum,
		u.level level,
		u.birthday birthday,
		u.age age,
		u.area area,
		u.createSongMenuNum createSongMenuNum,
		u.collectSongMenuNum
		collectSongMenuNum,
		u.singerId singerId,
		u.lastSignDate lastSignDate
		FROM user_base u
		INNER JOIN user_relation ur ON u.id = ur.id
		WHERE ur.githubId = #{githubId} AND u.visible = true
	</select>

</mapper>