<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.write.dao.SongListWriteDao">
	
	<update id="updatePlayNumById">
		UPDATE songlist_record s
		SET s.playNum = #{playNum}
		WHERE s.id = #{id}
	</update>

	<update id="updateCommentNumById">
		UPDATE songlist_record s
		SET s.commentNum = #{commentNum}
		WHERE s.id = #{id}
	</update>
</mapper>