<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.write.dao.SongMenuWriteDao">

	<insert id="insertSongMenu_base" parameterType="cn.xiedacon.model.SongMenu">
		INSERT INTO
		songMenu_base VALUES(
		#{id},
		#{name},
		#{icon},
		#{creatorName},
		#{createTime},
		#{songNum},
		#{introduction},
		#{isPublic},
		#{creatorId},
		#{userId},
		#{visible}
		)
	</insert>

	<insert id="insertSongMenu_record" parameterType="cn.xiedacon.model.SongMenu">
		INSERT INTO
		songMenu_record VALUES(
		#{id},
		#{collectionNum},
		#{shareNum},
		#{commentNum},
		#{playNum}
		)
	</insert>

	<update id="updateCreatorNameByCreatorId" parameterType="java.lang.String">
		UPDATE
		songMenu_base s
		SET
		s.creatorName = #{creatorName}
		WHERE s.creatorId = #{creatorId}
	</update>

	<update id="delete" parameterType="cn.xiedacon.model.SongMenu">
		UPDATE songMenu_base s
		SET
		s.visible = false
		WHERE s.id = #{id}
	</update>

	<update id="update" parameterType="cn.xiedacon.model.SongMenu">
		UPDATE songMenu_base s
		SET
		s.name = #{name},
		s.introduction = #{introduction}
		WHERE s.id = #{id}
	</update>

	<update id="updateIconById">
		UPDATE songMenu_base s
		SET
		s.icon = #{icon}
		WHERE s.id = #{id}
	</update>

	<update id="updateSongNumById">
		UPDATE songMenu_base s
		SET
		s.songNum = #{songNum}
		WHERE s.id = #{id}
	</update>

	<update id="updateCollectionNumById">
		UPDATE songMenu_record sr
		SET sr.collectionNum =
		#{collectionNum}
		WHERE sr.id = #{id}
	</update>
	
	<update id="updatePlayNumById">
		UPDATE songMenu_record sr
		SET sr.playNum =
		#{playNum}
		WHERE sr.id = #{id}
	</update>
	
	<update id="updateCommentNumById">
		UPDATE songMenu_record sr
		SET sr.commentNum =
		#{commentNum}
		WHERE sr.id = #{id}
	</update>
</mapper>