<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.write.dao.User_SongMenuGLDao">

	<insert id="insert">
		INSERT INTO user_gl_songmenu
		VALUES(
		#{id},
		#{collectorId},
		#{songMenuId})
	</insert>

	<select id="selectIdBySongMenuIdAndCollectorId" resultType="java.lang.String">
		SELECT ugs.id
		FROM user_gl_songmenu ugs
		WHERE ugs.songMenuId =
		#{songMenuId} AND
		ugs.collectorId = #{collectorId}
	</select>
</mapper>