<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.write.dao.UserWriteDao">

	<sql id="id_WHERE">
		WHERE u.id = #{id} AND u.visible = true
	</sql>

	<insert id="insertUser_base" parameterType="cn.xiedacon.model.User">
		INSERT INTO user_base
		VALUES(
		#{id},
		#{name},
		#{icon},
		#{sex},
		#{dynamicNum},
		#{attentionNum},
		#{fansNum},
		#{introduction},
		#{area},
		#{age},
		#{createSongMenuNum},
		#{collectSongMenuNum},
		#{birthday},
		#{level},
		#{experience},
		#{singerId},
		#{lastSignDate}
		)
	</insert>

	<insert id="insertUser_record" parameterType="cn.xiedacon.model.User">
		INSERT INTO
		user_relation
		VALUES(
		#{id},
		#{qq},
		#{phone},
		#{weixin},
		#{xinlangweibo},
		#{renren},
		#{douban},
		#{password},
		#{githubId}
		)
	</insert>

	<update id="updateUsername" parameterType="cn.xiedacon.model.User">
		UPDATE user_base u
		SET u.name = #{name}
		<include refid="id_WHERE"></include>
	</update>

	<update id="updatePassword" parameterType="cn.xiedacon.model.User">
		UPDATE user_relation u
		SET u.password = #{password}
		<include refid="id_WHERE"></include>
	</update>

	<update id="updateCollectSongMenuNumById">
		UPDATE user_base u
		SET u.collectSongMenuNum = #{collectSongMenuNum}
		<include refid="id_WHERE"></include>
	</update>

	<update id="deleteUser" parameterType="cn.xiedacon.model.User">
		UPDATE user_base u
		SET u.visible = false
		<include refid="id_WHERE"></include>
	</update>
</mapper>