<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.AlbumReadDao">

	<select id="selectById" resultType="cn.xiedacon.model.Album">
		SELECT
		a.id id,
		a.name name,
		a.icon icon,
		a.singerId singerId,
		a.singerName singerName,
		a.createTime createTime,
		a.remark remark,
		a.createCompany createCompany,
		ar.playNum playNum,
		ar.shareNum shareNum,
		ar.commentNum commentNum,
		a.introduction introduction,
		a.songNum songNum
		FROM album_base a
		INNER JOIN album_record ar ON a.id = ar.id
		WHERE a.id = #{id} AND a.visible = true
	</select>

	<select id="selectCountByTagId" resultType="int">
		SELECT COUNT(a.id)
		FROM album_base a
		WHERE a.tagId = #{tagId} AND a.visible = true
	</select>

	<select id="selectListByTagIdOrderByCreateTimeLimit" resultType="cn.xiedacon.model.Album">
		SELECT
		a.id id,
		a.name name,
		a.icon icon,
		a.singerId singerId,
		a.singerName singerName,
		a.createTime createTime
		FROM album_base a
		WHERE a.tagId = #{tagId} AND a.visible = true
		ORDER BY a.createTime DESC
		LIMIT #{begin},#{limit}
	</select>

	<select id="selectCountBySingerId" resultType="int">
		SELECT COUNT(a.id)
		FROM album_base a
		WHERE a.singerId = #{singerId} AND a.visible = true
	</select>

	<select id="selectListBySingerIdOrderByCreateTimeLimit"
		resultType="cn.xiedacon.model.Album">
		SELECT
		a.id id,
		a.name name,
		a.icon icon,
		a.singerId singerId,
		a.singerName singerName,
		a.createTime createTime
		FROM album_base a
		WHERE a.singerId = #{singerId} AND a.visible = true
		ORDER BY a.createTime DESC
		LIMIT #{begin},#{limit}
	</select>
	
	<select id="selectListOrderByCreateTimeLimit" resultType="cn.xiedacon.model.Album">
		SELECT
		a.id id,
		a.name name,
		a.icon icon,
		a.singerId singerId,
		a.singerName singerName,
		a.createTime createTime
		FROM album_base a
		WHERE a.visible = true
		ORDER BY a.createTime DESC
		LIMIT #{begin},#{limit}
	</select>
</mapper>