<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.CommentReadDao">

	<select id="selectListBySongMenuIdAndMINAgreeNum" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_songMenu c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songMenuId = #{songMenuId} AND c.agreeNum >= #{agreeNum}
		ORDER BY c.createTime DESC
	</select>

	<select id="selectListBySongMenuIdLimit" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_songMenu c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songMenuId = #{songMenuId}
		ORDER BY c.createTime DESC
		LIMIT #{begin},#{limit};
	</select>

	<select id="selectCountBySongMenuId" resultType="java.lang.Integer">
		SELECT COUNT(c.id)
		FROM comment_songMenu c
		WHERE c.songMenuId = #{songMenuId}
	</select>

	<select id="selectListByAlbumIdAndMINAgreeNum" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_album c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.albumId = #{albumId} AND c.agreeNum >= #{agreeNum}
		ORDER BY c.createTime DESC
	</select>

	<select id="selectListByAlbumIdLimit" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_album c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.albumId = #{albumId}
		ORDER BY c.createTime DESC
		LIMIT #{begin},#{limit};
	</select>

	<select id="selectCountByAlbumId" resultType="java.lang.Integer">
		SELECT COUNT(c.id)
		FROM comment_Album c
		WHERE c.albumId = #{albumId}
	</select>

	<select id="selectListBySongListIdLimit" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_songlist c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songListId = #{songListId}
		ORDER BY c.createTime DESC
		LIMIT #{begin},#{limit};
	</select>

	<select id="selectCountBySongListId" resultType="java.lang.Integer">
		SELECT COUNT(c.id)
		FROM comment_songlist c
		WHERE c.songListId = #{songListId}
	</select>

	<select id="selectListBySongListIdAndMINAgreeNum" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_songlist c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songListId = #{songListId} AND c.agreeNum >= #{agreeNum}
		ORDER BY c.createTime DESC
	</select>

	<select id="selectListBySongIdLimit" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_song c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songId = #{songId}
		ORDER BY c.createTime DESC
		LIMIT #{begin},#{limit};
	</select>

	<select id="selectCountBySongId" resultType="java.lang.Integer">
		SELECT COUNT(c.id)
		FROM comment_song c
		WHERE c.songId = #{songId}
	</select>

	<select id="selectListBySongIdAndMINAgreeNum" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum,
		u.id creatorId,
		u.name creatorName,
		u.icon creatorIcon
		FROM comment_song c
		INNER JOIN user_base u ON c.creatorId = u.id
		WHERE c.songId = #{songId} AND c.agreeNum >= #{agreeNum}
		ORDER BY c.createTime DESC
	</select>

	<select id="selectSongMenuCommentById" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum
		FROM comment_songmenu c
		WHERE c.id = #{id}
	</select>

	<select id="selectAlbumCommentById" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum
		FROM comment_album c
		WHERE c.id = #{id}
	</select>

	<select id="selectSongListCommentById" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum
		FROM comment_songlist c
		WHERE c.id = #{id}
	</select>

	<select id="selectSongCommentById" resultType="cn.xiedacon.model.Comment">
		SELECT
		c.id id,
		c.content content,
		c.createTime createTime,
		c.agreeNum agreeNum
		FROM comment_song c
		WHERE c.id = #{id}
	</select>
</mapper>