<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xiedacon.read.dao.SongListReadDao">

	<select id="selectById" resultType="cn.xiedacon.model.SongList">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.refreshRate refreshRate,
		s.refreshDate refreshDate,
		s.songNum songNum,
		sr.collectionNum collectionNum,
		sr.shareNum shareNum,
		sr.commentNum commentNum,
		sr.playNum playNum
		FROM songList_base s
		INNER JOIN songlist_record sr ON s.id = sr.id
		WHERE s.id = #{id}
	</select>

	<select id="selectList" resultType="cn.xiedacon.model.SongList">
		SELECT
		s.id id,
		s.name name,
		s.icon icon,
		s.refreshRate refreshRate,
		s.globe globe
		FROM songList_base s
	</select>

</mapper>